{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h2>Les catégories :</h2>
	<a href="{{ path('app_category') }}">Clique ici</a>

	<h2>Les medias :</h2>
	<a href="{{ path('app_media') }}">Clique ici</a>

	<h2>Les contact :</h2>
	<a href="{{ path('app_contactAdmin') }}">Clique ici</a>
{% endblock %}
